html {
}

body{
  max-height: 100vh;
  padding: 0;
  background-color:white;
  width:100%;
  margin:0;
  font-size:14px;
  font-family:sans-serif;
  color:#463333;
}

.otherMain{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  color:gray;
}

h3{
  color: grey;
  font-size: 20px;
}

/*Navigation*/
nav{
  background-color:#F3F0F7;
  height:60px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding-top:2%;
  padding-bottom:2%;
}

.navigation{
  display:flex;
  flex-direction:row;
  margin-right:5%;
}

a{
  text-decoration:none;
}

.lienBouton{
  margin-right:5%;
  border:none;
  height:50px;
  background-color:#D5D5E0;
  text-decoration:none;
  text-align:center;
  color:grey;
  display:table;
  border-radius:5px;
}

.lienBouton span{
  vertical-align:middle;
  display:table-cell;
  width:140px;
}

.boutonHome{
  width:50px;
}

.boutonHome img{
    width: 50px;
}

input, select, button{
  border:none;
  width:100%;
  height:50px;
  background-color:white;
  color:#656565;
  border-radius:5px;
  margin-left:50px;
  margin-right:50px;
  margin-top:5px;
  margin-bottom:5px;
}

.iconButton{
  height:40px;
}

.smallIconButton{
  height:25px;
}

table{
  width:90%;
  border-collapse:collapse;
  text-align:center;
}

form{
  
}

thead{
  background-color:#D5D5E0;
  color:grey;
}

td{
  width:15%;
  height:40px;
}

.btnSubmit{
  background-color:#D5D5E0;
  padding:10px;
  color:#656565;
}

.supprMod{
  background-color:#D5D5E0;
  width:70px;
}

.colAction{
  width:5%;
  color:#656565;
}

.navEnd{
  display:flex;
  justify-content:flex-end;
}

/*Formulaire Rechercher*/

.formSearch{
  width:600px;
  display:flex;
  flex-direction:row;
}

.formSearch table{
  width:100%;
}

.formSearch button{
  background-color:#D5D5E0;
}


/*Formulaire Ajouter Idée*/

.formAdd{
  width:40%;
  margin:2%;
  margin-top:50px;
}

/*
.formAdd tr, td{
  width:100%;
  height:auto;
  display:flex;
  flex-direction:row;
  justify-content:center;
  padding-top:1%;
  padding-bottom:1%;
}*/

.formAdd button{
  height:50px;
  background-color:white;
  border-radius:5px;
  border:1px solid #C0C0C0;
}

.formAdd input, select, option, button, textarea{
  width:100%;
  border:1px solid #C0C0C0;
}

.formAdd textarea{
  height:200px;
  background-color:white;
  border-radius:5px;
  border:none;
}

.btnCreateIdea{
  width:30%;
}

.navAjouter .lienBouton{
  margin-left:5%;
}

.taglabel{
  background-color:#F3F0F7;
  color: #4F4C5B;
  border-radius:50px;
  height:40px;
  margin:5px;
  padding-right:20px;
  padding-left:20px;
  line-height: 40px;
}

.contenantTags{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  height:auto;
}

.align-right{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  align-items: center;
}

.align-left{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items: center;
}

#publique{
  width:30px;
}



/*Tableaux de la page "voirMesIdees"*/

.ideesUserMain{
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  justify-content:space-around;
}

.ideesUserMain table{
  width:35%;
  margin-top:30px;
}

.ideesUserMain tbody tr{
  display:flex;
  flex-direction:row;
  border-radius:10px;
  background-color:#E9E7EF;
  margin:10px;
}

.ideesUserMain td{
  height:200px;
}

.ideesUserMain thead tr td{
  height:50px;
  background-color:#CBC5ED;
  color:#797979;
}

.ideesUserMain button{
  background-color: #D5D5E0;
  width:90px;
  height:40px;
}

.conteneurIdee{
  height:100%;
  width:100%;
  padding:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.en-teteIdee{
  height:15%;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.corpsIdee{
  height:60%;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.actionsIdee{
  height:15%;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*Formulaire ajouter vêtement*/
.formVetements{
  width: 100%;
  height: 500px;
  background-color: #D3E7FF;
  border-radius: 5px;
}

.formVetements div{
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
}

input[type=color] {
  height: 20px;
  width: 150px;
}



/*Liste des utilisateurs à supprimer*/

.usersList button{  
  background-color: white;
  height: 30px;
  width: 30px;
}

.usersList img{
  height: 20px;
  width: 20px;
}

.usersList div, button{
  margin : 20px;
}


.bubble{
  width:100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: gray;
}

.bubble div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.bubbleTitle{
  font-weight:bold;
}



/*Calendrier*/

.mainCalendar{
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.navCalendar{
  height: 7.9vh;
}

.calendarForm{
  height: 92vh;
  padding: 0px;
  margin: 0px;
}

.calendarTable{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.calendarTable th{
  font-weight: normal;
  color: #505050;
}

.calendarTable tr{
  height: 16%;  
}

.calendarTable td{
  width: 10%;
  height: 10%;
  overflow: auto;
}

.activeDay{
  color: #656565;
}

.inactiveDay{
  color: #C5C5C5;
}

.eventBubble{  
  background-color: #D3EFFF;
  border-radius: 5px;
  padding: 1px 10px 1px 10px;
}

.eventsCase{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.eventBubble button{  
  background-color: #D3EFFF;
  height: 14px;
  width: 14px;
}

.eventBubble img{
  height: 14px;
  width: 14px;
}




/*Formulaires*/

.ordinaryForm{
  width: 100%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}



/*Affichage météo*/

.meteoTable{
  margin: auto;
  margin-top: 30px;
  width: 50%;
  padding:30px;
  border-radius: 15px;
  /*background-color: white;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meteoBubble{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.hoursBubble{
  border-top: 1px solid #E5E4E4;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  padding-top:10px;
}

.hoursBubble a{
  margin-left: 15px;
  margin-right: 15px;
  color : grey;
}

.selectedLink{
  font-weight: bold;
}

.detailsBubble{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.detailsBubble p{
  margin: 0px;
  height: 20px;
  font-size: 12px;
}

.detailsBubble img{
  height: 50px;
  width: 50px;
}

.eventsBubble, .dressBubble{
  border-top: 1px solid #E5E4E4;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  padding-top:10px;
}

.eventsBubble div{
  margin :5px;
}

.dressBubble div{
  margin :5px;
}

.summaryBubble{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.summaryBubble div{
  width:40%;
  margin:0px;
}

.summaryBubble p{
  width:100%;
  margin:0px;
  font-size: 11px;
}

.summaryBubble img{
  width:30px;
  height:30px;
}

.summaryLeftBox{
  border-right: 1px solid grey;
}