/*
  Projet      : Suggestion de tenues en fonction de la météo
  Date        : Mai 2021
  Auteur      : Aliya Myaz
  Description : Page de style du projet
*/

body{
  max-height: 100vh;
  padding: 0;
  background-color:#f8f9fa;
  width:100%;
  margin:0;
  font-size:14px;
  font-family:sans-serif;
  color:#463333;
}

/* Navigation */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  width: 12% !important;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.marginTop100{
  margin-top: 100px;
}

.brandName{
  color: #6FCA9C;
  font-size: 18px;
  margin: 0px 15px 0px 15px;
}

.horizontalNav{
  flex-direction: row !important;
  align-items: center;
}

.horizontalNav li{
  margin: 0px 15px 0px 15px;
}

h3{
  color: grey;
  font-size: 16px;
}

.otherNav{
  background-color:#EDEDED;
  height:50px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding-top:2%;
  padding-bottom:2%;
}

.mainNav{
  background-color: #F3F3F3 !important;
}

.pageTitle{
  color: grey;
  margin-right: 20px;
  font-size: 22px;
}

.marginElements span{
  margin-right:10px;
}

a{
  text-decoration: none;
}


/* Icones */

.boutonHome{
  width:50px;
}

.boutonHome img{
    width: 50px;
}

.logo{
  height: 90px;
  margin-right: 10px;
}

.iconButton{
  height: 40px;
  width: 40px;
}

.smallIconButton{
  height: 25px;
}

.mIconButton{
  height: 30px;
}


/* Page principale */

.meteoMain{
  width: 100% !important;
  color:grey;
  float: right;
}


/* Formulaires */

input, select, button{
  border:none;
  width:100%;
  height:50px;
  background-color:white;
  color:#656565;
  border-radius:5px;
  margin-left:50px;
  margin-right:50px;
  margin-top:5px;
  margin-bottom:5px;
}

table{
  width:90%;
  border-collapse:collapse;
  text-align:center;
}


/* Formulaires */

.formAdd{
  width:40%;
  margin:2%;
  margin-top:50px;
}

.formAdd button{
  height:50px;
  background-color:white;
  border-radius:5px;
}

.formAdd input, select, option, button, textarea{
  width:100%;
  border:1px solid #C0C0C0;
}

.formAdd textarea{
  height:200px;
  background-color:white;
  border-radius:5px;
  border:none;
}

.ordinaryForm{
  width: 100%;
  height: 92.1vh;
  margin: 0px !important;
  padding: 0px !important;
  margin-top: 100px !important;
}

.ordinaryForm form{
  width : 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ordinaryForm form table{
  margin: 0px !important;
  padding: 0px !important;
  width: 40%;
}

.ordinaryForm input{
  margin-left: 0px !important;
  margin-right: 0px !important;;
  width: 100% !important;
  border: 1px solid #D2F9E2;
}

.ordinaryForm input[type=color]{
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 60px !important;
  border: 1px solid #D2F9E2;
}

.ordinaryForm select{
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100% !important;
  border: 1px solid #D2F9E2;
}

.ordinaryForm button{
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 30% !important;
  background-color: #D2F9E2;
  border: none;
}

.ordinaryForm label{
  font-size: 12px;
  color: #999;
  font-style: italic;
  float: left;
}

.error{
  color : red;
}

/* Formulaire ajouter vêtement */

.formVetements{
  width: 100%;
  height: 500px;
  background-color: #D2F9E2; /*D3E7FF*/
  border-radius: 5px;
}

.formVetements div{
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
}

input[type=color] {
  height: 20px;
  width: 150px;
}

.contenantSvg{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* Liste des utilisateurs à supprimer */

.usersList{
  margin-left : 20px;
}

.usersList td{
  height : 170px !important;
}

.usersList div{
  height : 80%;
}

.userBubble{
  width:100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: gray;  
}

.userBubble div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.bubbleTitle{
  font-weight:bold;
}

.bubbleButtons{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
}


/* Calendrier */

.mainCalendar{
  width: 100%;
  height: 92.1vh;
  margin: 0px;
  padding: 0px;
}

.mainCalendar form{
  width : 88%;
  float: right;
  border-left: none !important;
}

.mainCalendar nav{
  border: none !important;
  box-shadow: none !important;
}

.mainCalendar img{
  margin-right: 10px;
}

.navCalendar{
  height: 7.9vh;
  background-color: #F3F3F3 !important;
}

.daysNav{
  display: flex;
  flex-direction: row !important;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 20px;
}
.daysNav *{
  margin-left: 10px;
  color:grey !important;
}

.calendarForm{
  height: 92vh;
  padding: 0px;
  margin: 0px;
}

.calendarTable{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.calendarTable th{
  font-weight: normal;
  color: #505050;
}

.calendarTable tr{
  height: 16%;  
}

.calendarTable td{
  width: 10%;
  height: 100px;
  overflow: auto;
}

.calendarTable td div{
  overflow: auto;
}

.activeDay{
  color: #6FCA9C !important;
  font-size: 17px !important;
}

.inactiveDay{
  color: #A8A8A8 !important;
}

/*Semainier*/

.rowTitle{
  width: 2% !important;
}

.weekPlanner tr{
  height: 7% !important;  
}

.weekPlanner table{
  height: 92vh !important;
}


/*Affichage des évènements*/

.eventBubble{  
  background-color: #DDF9E9;
  border-radius: 5px;
  padding: 1px 10px 1px 10px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  padding: 10px;
}

.eventBubble div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 14px;
  width: 14px;
}

.eventsCase{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.eventBubble button{  
  background-color: #D2F9E2;
  height: 14px;
  width: 14px;
  border: none;
}

.eventBubble img{
  height: 14px;
  width: 14px;
  border: none;
}

.addEventHour{
  float:right;
}

/*Affichage météo*/

.meteoTable{
  margin: auto;
  width: 40%;
  padding:30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meteoBubble{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.meteoBubble rect{
  fill: #f8f9fa;
}

.hoursBubble{
  border-top: 1px solid #D2F9E2;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  padding-top:10px;
}

.hoursBubble a{
  margin-left: 15px;
  margin-right: 15px;
  color : grey;
}

.selectedLink{
  font-weight: bold;
}

.detailsBubble{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.detailsBubble p{
  margin: 0px;
  height: 20px;
  font-size: 12px;
}

.detailsBubble img{
  height: 50px;
  width: 50px;
}

.eventsBubble, .dressBubble{
  border-top: 1px solid #E5E4E4;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  padding-top:10px;
}

.eventsBubble div{
  margin :5px;
}

.dressBubble div{
  margin :5px;
}

.summaryBubble{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.summaryBubble div{
  width:25%;
  margin:0px;
}

.summaryBubble p{
  width:100%;
  margin:0px;
  font-size: 11px;
}

.summaryBubble img{
  height:35px;
}


/*Gestion de la garde-robe*/

.listClothes{
  width: 88%;
  float: right;
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

.clothesBubble{
  width: 200px;
  height: 200px;
  margin : 20px 0px 0px 15px;  
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
}

.displayClothe{
  margin-top: 20px !important;
  margin-right: 20px;
  width: 160px !important;
}

.displayButtons{  
  width: 40px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end !important;
  justify-content: flex-start !important;
  float: right;
}

.clotheImage{
  height: 100px !important; 
  width: 100px !important;
}